*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #0f0d0d;
    background-color:black;
 
}

.hero{
    background-color: black;
    color: #3f3f3f;
    text-align: center;
    padding: 2rem; 
    font-size: 2.5em;
    font-weight: bold;
}

.navbar{
    background-color: beige;
    padding: 1rem;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar a{
    color:black;
    text-decoration: none;
    padding: 0.5rem 1rem;
border-radius: 4px;
transition: background-color 0.9s;
}

.navbar a:hover{
background-color: rgb(163, 150, 150);
}

.container{
    display: flex;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 0.2px 10px ;
    overflow: hidden;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
}

.sidebar{
    background-color: bisque;
    padding: 2rem;
    width: 300px;
    min-height: 400px;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 30px auto 1.5rem;
    border: 3px solid;
} 

.sidebar h2{
    color: black;
    margin-bottom: 1rem;
    font-size: 1.5;
}
.main-content{
    flex: 1;
    padding: 2rem;

}

.main-content h2{
color: #262626;
margin-bottom: 1.8rem;
font-size: 1.8rem;
border-bottom: 2px solid lightblue;
padding-bottom: 0.5rem;
}
.main-content p{
    margin-bottom: 1.5rem;
    color: black;
    line-height: 1.6;
}